blockquote {
    margin-bottom: 0;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @include media(s2) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }
}

.Area > blockquote {
    font-weight: 700;
    margin-top: $h3;
    color: $grey;
    text-align: right;
    small {
        font-weight: 100;
    }
}
.Banner > .Quote {
    align-items: flex-end;
    font-weight: 700;
    @include type-setting(1);
    font-family: $secondary_font;
}
.Quote {
    font-style: italic;
    margin-bottom: $h2;
}
.Default {
    color: $white;
}
.Invert {
    color: $primary;
}
.Grey {
    color: $grey;
}