blockquote {
    position: relative;
    margin-bottom: $h2;
    padding-left: $h3;
    font-style: italic;
    font-weight: 300;
    font-weight: 700;

    &:before {
        content: open-quote;
        position: absolute;
        top: -$h2;
        left: -0.3rem;
        @include type-setting(3);
        // color: $secondary;
    }
            
    p {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    small {
        display: block;
        font-weight: 100;
        font-weight: 300;
        // font-family: $primary_font;
    }
}

.Area > blockquote {
    font-weight: 700;
    margin-top: $h3;
    margin-bottom: $h3;
    @include type-setting(1);
    color: $alpha_grey;
    text-align: right;
    small {
        font-weight: 100;
    }
}
.Banner > .Quote {
    text-align: center;
    font-weight: 700;
    @include type-setting(2);
    font-family: $secondary_font;
}
.Quote {
    font-style: italic;
    margin-bottom: $h1;
}
.Default {
    color: $white;
}
.Invert {
    color: $primary;
}
.Grey {
    color: $grey;
}