.Main {
    // width: 100%;
    @include media(s1) {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.Main__header {
    padding: $h0;
    // background-color: $alpha_white;
    @include media(s1) {
        padding: $h1;
    }
    @include media(s2) {
        padding: $h2;
    }
}
.Main__nav {
    min-height: $h4;
    @include media(s0) {
        margin-bottom: $h1;
    }
    @include media(s1) {}
}
