// ****************************************
// BASE
// ****************************************

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;

  &.overflowHidden {
    overflow: hidden;
  }
  margin: 0 !important;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

*:focus {
	  outline: none;
}
a {
  color: $tertiary;
  text-decoration: none;
  transition: all .2s linear;
  &:hover {
    color: $primary;
  }
  &:focus {
    outline: color $secondary 5px;
  }
}


a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
}

p,
dl {
  @include margin-bottom(1);
  @include type-setting(0);
  @include media(s2) {
    margin-left: auto;
    margin-right: auto;
  }
  @include media(s4) {
    @include type-setting(1);
  }
}

button:hover {
  cursor: pointer;
}

h1 {
  font-weight: normal;
  @include type-setting(0);
  @include media(s1) {
    @include type-setting(2);
  }
  @include media(s4) {
    @include type-setting(3);
  }
}

h2 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(1);
  }
  @include media(s4) {
    @include type-setting(2);
  }
  @include media(s5) {
    @include type-setting(3);
  }
  color: $grey; 
  // revisar colocacion
}

h3 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    font-weight: bold;
    @include type-setting(1);
  }
  @include media(s4) {
    @include type-setting(2);
  }
}

h5,
h6 {
  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    font-weight: bold;
    @include type-setting(0);
  }
  @include media(s2) {
    @include type-setting(0);
  }
  @include media(s3) {
    @include type-setting(1);
  }
  @include media(s4) {
    @include type-setting(2);
  }
}

code {
  @include type-setting(0);
}

small {
  text-align: left;
  @include padding-bottom(1);

  @include media(s0) {
    @include type-setting(0);
  }
  @include media(s1) {
    @include type-setting(0);
  }
}

h5 {
  margin-top: inherit;
  margin-bottom: $h0;
}

li a {
  color: $tertiary;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: $h0 $h1;
	margin-bottom: $h0;
	margin-right: 1px;
	margin-left: 1px;
	box-sizing: border-box;
	border: 1px solid $grey;
	// border-radius: 2px;
}

input:disabled {
	color: $grey;
}

input[type="range"] {
	height: 0;
}

button:focus {
	border-color: $secondary;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}