.Main {
    @include media(s1) {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.Main__header {
    padding-top: $h1;
    padding-left: $h0;
    padding-right: $h0;
    @include media(s1) {
        padding-top: $h2;
        padding-left: $h1;
        padding-right: $h1;
        padding-bottom: $h1;
    }
    @include media(s2) {
        padding-top: $h4;
        padding-left: $h1;
        padding-right: $h1;
        padding-bottom: $h4;
    }
}
.Main__nav {
    min-height: $h4;
    @include media(s0) {
        margin-bottom: $h1;
    }
    @include media(s1) {}
}
