// ****************************************
// @TODH TYPOGRAPHY AND FONTS
// ****************************************

// @font-face {
//     font-family: 'Vollkorn';
// src: url("~@/fonts/Vollkorn.eot"); /* IE9 Compat Modes */
// src:    url('~assets/fonts/Vollkorn-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
//  url("~@/assets/fonts/Vollkorn-Regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
//  url("~@/fonts/Vollkorn.woff2") format('woff2'), /* Super Modern Browsers */
//  url('./fonts/Vollkorn.woff') format('woff'), /* Pretty Modern Browsers */
//  url('~@/assets/fonts/Vollkorn-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
//  url('./fonts/Vollkorn.svg#svgFontName') format('svg'); /* Legacy iOS */
//   }
// @import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

$primary_font: 'Open Sans', sans-serif;
$secondary_font: 'Libre Baskerville', serif;
$tertiary_font: Monaco, "Lucida Console", monospace;

body > * {
  font-family: $primary_font;
}

h1,
h3, 
.NavBar {
  font-family: $secondary_font;
}

h2 {
  font-style: italic;
}
.text-center {
  text-align: center;
}

p, .text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

small {
  font-style: italic;
}

nav {
  letter-spacing: 1px;

  a {
    text-decoration: none;
  }
}

h1,
dt {
  font-weight: bold;
}

h2 {
  font-weight: normal;
}

dd {
  margin-bottom: $h1;
}